* {
    box-sizing: border-box;
}

body {
    background: url('bg-pattern-top.svg') fixed no-repeat bottom 400px right 1015px, url('bg-pattern-bottom.svg') fixed no-repeat 900px 410px, hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", "sans-serif";
}


.card {
    max-width: 17%;
    margin: auto;
    margin-top:200px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 5px;
    background: url('bg-pattern-card.svg') repeat-x top, white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px hsl(185, 75%, 39%);
}

img {
    border: 5px solid white;
    margin-top: 80px;
    border-radius: 60px
}

header {
    margin:auto; /*To the middle*/
}

.nomnum {
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    padding: 5px;
    gap: 5px;
 }



 .num {
     font-weight: 400;
     color: hsl(227, 10%, 46%);
 }


.pays {
    margin: auto;
    color: hsl(0, 0%, 59%);
    font-size: 1rem;
}

/*Manage white space for a symmetrical view between differents elements*/
.suiveur {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: pre-line; 
    text-align: center;
    margin: 10px;
    
    
   
}


.pouces {
    font-weight: 700;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: pre-line;
    text-align: center;
    margin: 10px;
    
}

.picture {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
    white-space: pre-line;
    margin: 10px;
    
}

.bas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}

hr {
    margin-top: 20px;
    background-color: hsl(0, 0%, 59%);
    opacity: 0.2;
}

.sui {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 0.625rem;
    letter-spacing: 2px;
    
    
}

.aime {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 0.625rem;
    letter-spacing: 2px;
    text-align: center;;
}
.k {
    font-weight: 700;
}

.kodac {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 0.625rem;
    letter-spacing: 2px;
}

/*I try to manage web responsive but I'm learning and I'm not finish.*/

@media (max-width: 390px) {
    .card { 
        min-width: 375px;
    }
}

@media (max-width: 1440px) {
    .card { 
        min-width: 375px;
    }
}